* {
  border: none;
  border-radius: 0;
  font-family: "Hack Nerd Font", FontAwesome, sans-serif;
  font-size: 13px;
  font-weight: bold;
}

#waybar {
  background: transparent;
  color: #c0caf5;
}

#workspaces button {
  padding: 2px 8px;
  margin: 0 2px;
  background: #24283b;
  color: #c0caf5;
  border-radius: 8px;
}

#workspaces button.active {
  background: #7aa2f7;
  color: #24283b;
}

#window,
#tray,
#cpu,
#memory,
#battery,
#pulseaudio,
#clock {
  padding: 2px 12px;
  background: #24283b;
  color: #c0caf5;
  border-radius: 8px;
}
