* {
  border: none;
  border-radius: 0;
  font-family: "Hack Nerd Font", FontAwesome, sans-serif;
  font-size: 13px;
  font-weight: bold;
}

#waybar {
  background: transparent;
  color: #dbdff0;
}

#workspaces button {
  padding: 2px 8px;
  margin: 0 2px;
  background: #171926;
  color: #dbdff0;
  border-radius: 8px;
}

#workspaces button.active {
  background: #20bc88;
  color: #0f111a;
}

#window,
#tray,
#cpu,
#memory,
#battery,
#pulseaudio,
#clock {
  padding: 2px 12px;
  background: #171926;
  color: #dbdff0;
  border: 1px solid #394060;
  border-radius: 8px;
}

#workspaces button:hover {
  background: #31385d;
}
