* {
  border: none;
  border-radius: 0;
  font-family: "Hack Nerd Font", FontAwesome, sans-serif;
  font-size: 13px;
  font-weight: bold;
}

#waybar {
  background: transparent;
  color: #c9ccd9;
}

#workspaces button {
  padding: 2px 8px;
  margin: 0 2px;
  background: #222433;
  color: #b8c3ff;
  border-radius: 8px;
}

#workspaces button.active {
  background: #b8c3ff;
  color: #222433;
}

#window,
#tray,
#cpu,
#memory,
#battery,
#pulseaudio,
#clock {
  padding: 2px 12px;
  background: #222433;
  color: #b8c3ff;
  border-radius: 8px;
}
