* {
  bg: #0f111a;
  surface: #171926;
  border: #394060;
  selection: #31385d;
  fg: #dbdff0;
  accent: #20bc88;
  red: #ef6b73;

  background-color: transparent;
}

window {
  location: center;
  anchor: center;
  width: 520px;
  background-color: @surface;
  border: 1px;
  border-color: @border;
  border-radius: 10px;
  padding: 10px;
}

mainbox {
  padding: 6px;
  spacing: 8px;
}

inputbar {
  background-color: @bg;
  border-radius: 8px;
  padding: 6px 10px;
  spacing: 8px;
  border: 1px solid;
  border-color: @border;
}

prompt {
  text-color: @accent;
}

textbox-prompt-colon {
  text-color: @accent;
}

entry {
  text-color: @fg;
  placeholder: "Search";
  placeholder-color: @fg;
}

listview {
  lines: 8;
  columns: 1;
  fixed-height: false;
  spacing: 6px;
}

element {
  padding: 6px 8px;
  border-radius: 8px;
}

element normal {
  text-color: @fg;
}

element alternate {
  text-color: @fg;
}

element selected {
  background-color: @selection;
  text-color: @fg;
}

element-icon {
  size: 20px;
  margin: 0 8px 0 0;
}

element-text {
  text-color: inherit;
}

message {
  background-color: @bg;
  border: 1px solid;
  border-color: @border;
  border-radius: 8px;
  padding: 8px;
}

error-message {
  background-color: @bg;
  text-color: @red;
  border: 1px solid;
  border-color: @red;
  border-radius: 8px;
  padding: 8px;
}
